#carrousel
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:200px;
    width:700px;
    margin:auto;
}

#carrousel ul li
{
    display: flex;
    justify-content: center;
    list-style: none;
}

.control
{
  height:80px;
  width:100px;
  color: red;
  display: block;
  z-index: 1;
}

.prev
{
  position:absolute;
  left: 0;
  height:80px;
  width:100px;
  color: red;
  display: block;
}

.next
{
  position:absolute;
  right: 0;
  height:80px;
  width:100px;
  color: red;
  display: block;
}
